<% content_for :header do %>
    <h1 class="header-heading">About Feed Forward</h1>
<% end %>

<% content_for :content do %>
    <div class="about-container">

        <h4 class="about-header">About Feed Forward</h4>

        <p>
          <b>Q.</b> <i>What is Feed Forward?</i><br>
          <b>A.</b> Feed Forward is a user-generated platform to post challenges and share feedback, stories and experiences in social innovation communities. The aim is to help innovators to move forward.
        </p>

        <p>
          <b>Q.</b> <i>Why Feed Forward?</i><br>
          <b>A.</b> How to actually do social innovation? How to overcome the challenges you encounter? And how to make knowledge floating around in the experiences of peers more explicit and publicly available? By connecting innovators over their challenges and experiences we want to support Feed Forward: feedback that supports innovation communities to exchange instructional knowledge from their own experiences in order to help each other to take new actions and to move forward. By eliciting this type of knowledge in a more structured way and sharing it with the general public we aim to better support social innovation communities.
        </p>

        <p>
          <b>Q.</b> <i>What is social innovation?</i><br>
          <b>A.</b> Innovation is the practice of ‘jumping out of existing structures’ to construct new structures (hence innovation). The challenges one faces in this practice are never singular, personal or individual, as they have emerged from social interactions. Therefore they need to be challenged in social interactions (hence social innovation). In this process impact is caused: solutions, ideas, products and services are developed, which have positive and negative consequences for different groups of people in society. With keeping innovation social we intend to keep innovation open, democratic and accessible, as opposed to inaccessible, inequal, or undemocratic. We attempt to achieve this goal by establishing better feedback loops. In this way we would like everyone to be able to attribute to innovation processes that generate new values for society.
        </p>

        <p>
          <b>Q.</b> <i>Why do we ﬁnd stories valuable to support social innovation practices?</i><br>
          <b>A.</b> Stories are relational tools. By using stories as an evaluative tool to support our ideas in collectives, we include the ability to include contexts, processes, values and experiences. Stories, as compared to single-authored research reports, are not static. They emerge in the interaction of interactions, just like social innovation processes. People are able to contribute to stories, people can add stories and change stories. That’s why stories hold speciﬁc value towards supporting social innovation processes in moving forward in collective, inclusive and connected ways.
        </p>

        <p>
          <b>Q.</b> <i>How did Feed Forward come about?</i><br>
          <b>A.</b> Feed Forward came about from a need that was voiced by teachers to better share their challenges, experiences, stories and knowledge on their social innovation processes among and beyond themselves, at all times, anywhere. The teachers were part of a Kennisland project called Education Pioneers, in which they learned from each other how to challenge current educational structures and self-organize innovations in their school. For example setting up a new library in their school to help pupils overcome their language deficiency, or designing a filmmaking course for pupils to connect with social issues in the neighbourhood. One can never do this alone, as social innovation is a collective effort, and takes place in interaction with a community of pupils, colleagues, directors, parents and so on. In moving forward the teachers encountered many practical and more fundamental dilemmas and challenges which ordinary social media did not offer a safe and structured environment to share these type of challenges and exchange stories on how to overcome them. That is why we built Feed Forward.
        </p>

        <p>
          <b>Q.</b> <i>How can I use Feed Forward?</i><br>
          <b>A.</b> As a user you can join a public or private innovation community on your topic or set up one yourself. In your innovation community you can post challenges and share feedback in two forms: general comments or in a story that captures your insightful experience. Once your challenge is resolved you can opt to disclose the generated story thread to the public. Did you get stuck? Download the <%= link_to 'handbook for Feed Forward here', "/HandbookDEtool.pdf" %>.
        </p>

        <ul>
          <li>Interested in the underlying use-cases of Feed Forward? Download <%= link_to 'the use-cases here', '/UsecasesFeedForward.pdf' %>.</li>
          <li>Interested in the underlying user-stories of Feed Forward? Download <%= link_to 'the user-stories here', '/User-storiesFeedForward.pdf' %>.</li>
        </ul>

        <p>
          <br>
          <b>Feed Forward = Connect > Share > Feedback >  Action!</b>
          <br>
        </p>

      <div class="about-people">
        <h4 class="about-header">About us</h4>

        <%= image_tag 'static/logo_kennisland.png', class: 'about-logo' %>

        <p class="about-company">
          <a href="http://www.kennisland.nl/nl/" target="_blank">Kennisland</a> is an independent action-oriented think-tank with a public mission to make societies smarter.
          Kennisland designs and implements innovative interventions to strengthen our knowledge society by connecting
          different levels and sectors to create new strategies, concepts, ideas and structures that work to provide new
          approaches for societal challenges. Kennisland works in the fields of educational innovation, smart
          government, creative economies, cultural heritage and copyright.
        </p>

        <%= image_tag 'static/logo_factlink.png', class: 'about-logo' %>

        <p class="about-company">
          This platform is built by <a href="https://factlink.com/about" target="_blank">Factlink</a>. Factlink is a social, more-than-profit enterprise aiming to increase the
          quality of online information. Factlink is an application that enables internet users to collectively review
          information found on the world wide web through an inline commenting system.
        </p>

        <%= image_tag 'static/logo_eu.png', class: 'about-logo' %>

        <p class="about-company">
          The platform is made possible by the EU FP7-funded international research project <a href="http://emergencebydesign.org/" target="_blank">Emergence by Design</a> (MD)
          under grant agreement n° 284625. The vision of Emergence by Design is to develop an international community
          around new theory, practices and tools able to construct a socially sustainable future.
        </p>

      </div>
      <div class="about-contact">
        <h4 class="about-header">Contact</h4>

        <p>
          <b>For general enquiries and feedback please contact Marlieke Kieboom:</b><br>
          <a href="mailto:mk@kl.nl">mk@kl.nl</a>
        </p>

        <p>
          <b>Kennisland</b><br>
          Keizersgracht 174 - 4<br>
          1016 DW Amsterdam<br>
        </p>

        <p>
          <b>Postal address</b><br>
          Postbus 2960<br>
          1000 CZ Amsterdam<br>
        </p>
      </div>
    </div>
<% end %>
