<% content_for :header do %>
    <h1 class="header-heading">Terms of Service</h1>
<% end %>

<% content_for :content do %>
    <p>
      We run a service called <a href="<%= FactlinkUI::Application.config.core_url %>">Feed Forward</a> to help people
      in exchanging feedback in social challenges. We would <b>love</b> for you to use it. Our basic service is free. If
      you find something in our site or software that you believe violates our terms of service,
      please <%= link_to "contact us", about_path %>.
    </p>

    <p>
      NOTE: We’ve decided to adopt the Terms of Service below adapted from the Terms of Service of
      <a href="https://wordpress.com" target="_blank">Wordpress.com</a> and Automattic Inc, which they graciously made
      available under a Creative Commons Sharealike license.
    </p>
    <p>
      <%= image_tag("creative_commons.png") %>
    </p>
    <h1>Terms of Service:</h1>
    <p>
      The <a href="http://feedforward.me">feedforward.me</a> website (“Website”) is a hosted service (“Service”)
      operated by Feed Forward (“Feed Forward”). Any use of the Website and Service is subject to the following Terms
      and Conditions of Use (“Terms and Conditions”), as well as to Feed
      Forward’s <%= link_to "Privacy Policy", privacy_path %>, all of which are
      incorporated by reference into these Terms and Conditions. When you use Feed Forward or access any part of the
      Website or use the Service, you agree that you have read, understood, and agree to be bound by the these Terms and
      Conditions concerning your use of: (a) the Website and Service;
    </p>
    <ol>
      <li>
        <p><strong>General</strong> Feed Forward may in its sole discretion change, modify, suspend, make improvements
          to or discontinue any aspect of the Website and Service, temporarily or permanently, at any time and without
          notice to you. Under no circumstances will Feed Forward be liable for any such change, modification,
          suspension, improvement or discontinuance. If you do not agree with any of these changes, you may terminate
          your account as set forth in Section 11.</p>
      </li>
      <li>
        <p><strong>Registration</strong> By registering with Feed Forward, you represent and warrant that the
          information you provide to Feed Forward in connection with any registration process is true and accurate, and
          that you will promptly notify Feed Forward if any of that information changes. Feed Forward may use the
          information that you provide during the registration process, in particular your email address: (a) to
          communicate with you about the Website and Service, including without limitation, any changes to Feed
          Forward’s Privacy Policy or other policies; (b) respond to your emails to us regarding our service; and (c)
          for all other purposes stated in Feed Forward’s Privacy Policy. Feed Forward reserves the right to terminate
          your access to and use of all of all FeedFroward websites if you provide false or inaccurate information.
        </p>
      </li>
      <li>
        <p><strong>Content Posted on Other Websites</strong> We have not reviewed, and cannot review, all of the
          material, including computer software, made available through the websites and webpages to which the Website
          links, and that link to the Website. Feed Forward does not have any control over those non-Feed Forward
          websites, webpages and documents and is not responsible for their contents or their use. By linking to a
          non-Feed Forward website, webpage or document, Feed Forward does not represent or imply that it endorses such
          website or webpage. You are responsible for taking precautions as necessary to protect yourself and your
          computer systems from viruses, worms, Trojan horses and other harmful or destructive content. Feed Forward
          disclaims any responsibility for any harm resulting from your use of non-Feed Forward websites and webpages.
        </p>
      </li>
      <li>
        <p><strong>Changes</strong> The Website, Service, and these Terms and Conditions may be changed at the sole
          discretion of Feed Forward and without notice. You are bound by any such updates or changes, including but not
          limited to those affecting these Terms and Conditions, and so should periodically review these Terms and
          Conditions.</p>
      </li>
      <li>
        <p><strong>Communications with Feed Forward</strong> All notices and other communications to Feed Forward
          required under this Agreement should be directed to the <%= link_to("contact page", about_path) %>. Notice
          shall be deemed given twenty-four (24) hours after notice is sent.</p>
      </li>
      <li>
        <p><strong>Limitation of warranties of Feed Forward, its suppliers and its licensors</strong> Except as
          otherwise expressly stated, all content posted to or available from the Website and the Service are provided
          “as is”, and Feed Forward, its suppliers and its licensors make no representations or warranties, express or
          implied, including but not limited to warranties of merchantability, fitness for a particular purpose, title
          or non-infringement of proprietary rights. Feed Forward makes no representations and warranties regarding
          uptime for the Service and the accuracy of the Service in identifying spelling errors or writing mistakes. You
          understand and agree that you download from, or otherwise obtain content or services through, the Website at
          your own discretion and risk, and that Feed Forward, its suppliers and its licensors will have no liability or
          responsibility for any damage to your computer system or data that results from the download or use of such
          content or services. Some jurisdictions may not allow the exclusion of implied warranties, so some of the
          above may not apply to you.</p>
      </li>
      <li>
        <p><strong>Limitation of liability of Feed Forward, its suppliers and its licensors</strong> Except as otherwise
          expressly stated, in no event will Feed Forward, its suppliers or its licensors be liable to you or any other
          party for any direct, indirect, special, consequential or exemplary damages, regardless of the basis or nature
          of the claim, resulting from any use of the Website or Service, or the contents thereof or of any hyperlinked
          website including without limitation any lost profits, business interruption, loss of data or otherwise, even
          if Feed Forward, its suppliers or its licensors were expressly advised of the possibility of such damages. In
          no event will the aggregate liability for any and all of your claims against Feed Forward, its suppliers and
          its licensors arising out of or related to use of the Website and Service, or the contents thereof or of any
          hyperlinked website exceed the amounts actually paid by you to Feed Forward during the 12-month period prior
          to the date a claim is made. Some jurisdictions may not allow the exclusion or limitation of liability for
          certain incidental or consequential damages, so some of the above limitations may not apply to you. You agree
          that this Section 8 represents a reasonable allocation of risk.</p>
      </li>
      <li>
        <p><strong>General Representation and Warranty.</strong> You represent and warrant that your use of the Website and Service will be in accordance with the Feed Forward <%= link_to("Privacy Policy", privacy_path) %>, with these Terms and Conditions, with any applicable laws and regulations, including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the Netherlands or the country in which you reside, and with any other applicable policy or terms and conditions.</p>
      </li>
      <li>
        <p><strong>Identification</strong> licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Service, including but not limited to out of your violation of any representation or warranty contained in these Terms and Conditions.</p>
      </li>
      <li>
        <p><strong>Termination</strong> Feed Forward may terminate this Agreement, your rights under this Agreement, and your access to and use of the Website and Service in its sole discretion, for any reason or no reason at all, (including but not limited to failure to pay your fees), with or without cause and without notice or liability to you or any third party. Any termination of these Terms and Conditions automatically terminates the license to use the Service and this Website and to use your API Key. You may terminate these Terms and Conditions for any reason upon thirty (30) days prior written notice to Feed Forward.</p>
      </li>
      <li>
        <p><strong>Survival</strong> Upon termination, all rights and obligations created by this Agreement will terminate, except that you will continue to be bound by those terms that would by their nature survive such termination, including without limitation those concerning intellectual property rights, disclaimers of warranties and limitations of liability; representations, warranties and indemnity obligations; and general provisions.</p>
      </li>
      <li>
        <p><strong>Miscellaneous.</strong> These Terms and Conditions constitute the entire agreement between Feed Forward and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Feed Forward, or by the posting by Feed Forward of a revised version. Except to the extent applicable law, if any, provides otherwise, these Terms and Conditions, any access to or use of the Website will be governed by the laws of the Netherlands, excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in the Netherlands. If any part of these Terms and Conditions is held invalid or unenforceable, that part will be construed to reflect the parties' original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of these Terms and Conditions or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. Feed Forward may assign its rights under these Terms and Conditions without condition. These Terms and Conditions will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns. These Terms and Conditions will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>
      </li>
    </ol>
<% end %>
